body {
    height: auto;
}

.about-section {
    /* border: 2px solid green; */
    padding: 10rem;
}

.container {
    /* border: 2px solid green; */
    display: flex;
    text-align: center;
    flex-direction: column;
}

.container h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.container p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.product-title {
    /* border:1px solid blue; */
    margin: auto 10rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product-title h3 {
    font-size: medium;
    color: hsla(0, 0%, 70%, 0.808);
}

.product-section-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7rem;
}

.product-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-section {
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.gallery-section-container {
    display: flex;
    flex-direction: column;
}

.gallery-row {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: hsl(38, 31%, 5%);
}

.img-card {
    width: 540px;
    height: 600px;
    background-color: whitesmoke;
    padding: 5px;
}

.gallery-image {
    height: 100%;
}