body {
    height: auto;
}

.about-section {
    /* border: 2px solid green; */
    padding: 10rem;
}

.container {
    /* border: 2px solid green; */
    display: flex;
    text-align: center;
    flex-direction: column;
}

.container h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
}

.container p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.product-title {
    /* border:1px solid blue; */
    margin: auto 10rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product-title h3 {
    color: hsla(0, 0%, 70%, 0.808);
}

.product-section-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7rem;
}

.product-section {
    display: flex;
    justify-content: center;
}