.card {
    display: block;
    align-items: center;
    padding: 1rem;
    border: none;
}

.card-container {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.card-img-container {
    border: 1px solid yellow;
    width: 60%;
    height: auto;
}

.card-img {
    width: 123px;
    height: 120px;
}

.text-container {
    margin-bottom: auto;
}